
@{
    ViewBag.Title = "Index";
    List<SelectListItem> l1 = new List<SelectListItem>();
    l1.Add(new SelectListItem() { Text = "int", Value = "20" });
    l1.Add(new SelectListItem() { Text = "nvarchar", Value = "50" });
    l1.Add(new SelectListItem() { Text = "dateTime", Value = "30" });

}

<h2>Log Registration</h2>
<br /><br />
      <form action="/Home/Index" method="post">
         
      </form>